{
  "sqlserver": {
    "server": "",
    "db": "",
    "user": "",
    "pwd": "",
    "driver": "ODBC Driver 17 for SQL Server",
    "win_auth": true
  },
  "postgres": {
    "server": "",
    "db": "",
    "user": "",
    "pwd": "",
    "port": "5432"
  },
  "tables": [
  ],
  "batch_size": 10000,
  "output_type": "Table Store",
  "output_path": "",
  "schema_map": [
    {
      "sql": "dbo",
      "pg": "dbo"
    },
    {
      "sql": "meta",
      "pg": "meta"
    }
  ]
}