{
  "sqlserver": {
    "server": "mprcwqa07",
    "db": "Portal",
    "user": "asrai",
    "pwd": "Password@123",
    "driver": "ODBC Driver 17 for SQL Server",
    "win_auth": true
  },
  "postgres": {
    "server": "localhost",
    "db": "Portal",
    "user": "postgres",
    "pwd": "Password@123",
    "port": "5432"
  },
  "tables": [
    "meta.Columns_AsShipped",
    "dbo.siReports",
    "meta.Constraints_AsShipped",
    "meta.Indexes_AsShipped",
    "dbo.siReportSetLinkedReports",
    "dbo.siReportSets",
    "dbo.siRoleDocumentActions",
    "dbo.siRoleLinkedReportActions",
    "dbo.siRoleMenuItems",
    "dbo.siRoleObjectActions",
    "dbo.siRoles",
    "dbo.siRoleUsers",
    "dbo.siSystemProperties",
    "dbo.siUserComponents",
    "dbo.siActions",
    "dbo.siUserDashboards",
    "dbo.siActionTypes",
    "dbo.siUserDefaultFilterValues",
    "dbo.siApiLogs",
    "dbo.siUserHistoricPasswords",
    "dbo.siApplicationLogins",
    "dbo.siUserLinkedReports",
    "dbo.siApplications",
    "dbo.siUserMyDocuments",
    "dbo.siComponentReports",
    "dbo.siUserReportFolders",
    "dbo.siComponents",
    "dbo.siUserReportSets",
    "dbo.siDashboards",
    "dbo.siUsers",
    "dbo.siDocuments",
    "dbo.siErrorLog",
    "dbo.siWebpartMetrics",
    "dbo.siFieldTypes",
    "dbo.siGlobalTerms",
    "dbo.siWebparts",
    "dbo.siLinkedReportComments",
    "dbo.siLinkedReportFields",
    "dbo.ValidTokens",
    "dbo.siLinkedReportParameters",
    "dbo.siLinkedReports",
    "dbo.siLoginLog",
    "dbo.siMenuItems",
    "dbo.siMenuItemTypes",
    "dbo.siMetrics",
    "dbo.siObjectActions",
    "dbo.siObjects",
    "dbo.siObjectTermOverrides",
    "dbo.siObjectTerms",
    "dbo.siObjectTypeAction",
    "dbo.SI_EventLog",
    "dbo.siObjectTypes",
    "dbo.SI_Events",
    "dbo.SI_EventSources",
    "dbo.siReportFields",
    "dbo.SI_EventSubSystems",
    "dbo.siReportFolderLinkedReports",
    "dbo.siReportFolders",
    "dbo.siReportFolderShortcuts",
    "dbo.siReportLog",
    "dbo.siReportParameterDataTypes",
    "meta.Code_AsShipped",
    "dbo.siReportParameters"
  ],
  "batch_size": 10000,
  "output_type": "Table Store",
  "output_path": "D:/DEVCENTER/Ashutosh/TestReports",
  "schema_map": [
    {
      "sql": "dbo",
      "pg": "dbo"
    },
    {
      "sql": "meta",
      "pg": "meta"
    }
  ]
}